# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
virtualEnvironment/


# Environment variables
.env
*.env

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Logs
*.log

# Instance 
instance/

# Database dumps / backups
*.sql
*.db

# Node-related 
node_modules/
